@import '../custom-theme.scss';

.main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: space-around;
	user-select: none;
	padding: 0px;
}

.time-view {
	font-size: 1.5rem;
	font-style: italic;
	flex-shrink: 0;
	box-sizing: border-box;
	border-radius: 0% 20px;
	padding: 10px 15px;
	flex-direction: row;
	display: flex;
	max-width: 80%;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	text-shadow: 1px 1px 4px 4px #747474;
	margin-top: 30px;
	margin-bottom: 30px;
	@include site-block('transparent');

	.time {
		display: flex;
		margin: 0 0 0 15px;
		flex-direction: column;
		font-size: 1.2rem;
	}

	.yin-yang {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}

	&:hover .yin-yang {
		animation: load-yin 30s linear infinite forwards;
	}
}

.background-papper {
	width: 100vw;
	height: 100vh;
	display: inline-block;
	background-size: cover;
	background-position: center center;
	object-fit: cover;
	position: absolute;
	z-index: -1;
	background-color: dimgrey;
	top: 0;
}

.search-view {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 70%;
	padding: 4px;
	border-radius: 2px;
	@include site-block(white);

	@media screen and (max-width: 500px) {
		width: 90%;
	}

	.search-input {
		height: 40px;
		font-size: 23px;
		line-height: 40px;
		outline: none;
		border: none;
		flex-grow: 1;
		width: 10px;
		border-radius: 2px;
		padding: 0px 4px 0px 8px;
		background: transparent;
		@include site-block(white);
	}

	.search-icon {
		width: 40px;
		height: 40px;
		flex-shrink: 0;
		padding: 5px;
		box-sizing: border-box;
		cursor: pointer;
	}

	.search-button {
		text-align: center;
		box-sizing: border-box;
		height: 40px;
		width: 40px;
		display: block;
		flex-shrink: 0;
		padding: 5px;
		cursor: pointer;
	}
}

/* https://stackoverflow.com/questions/7785374/how-to-prevent-column-break-within-an-element
 */
.site-view {
	width: 85vw;
	overflow-y: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	overflow-x: hidden;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	scrollbar-width: thin;

	@media screen and (max-width: 500px) {
		width: 90%;
	}

	.site-block {
		border-radius: 5px;
		font-family: "Times New Roman", Times, serif;
		flex-shrink: 0;
		flex-grow: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: calc(100% / 3 - 10px);
		margin: 8px auto;
		@include site-block(white);

		@media screen and (max-width: 800px) {
			width: calc(100% / 2 - 8px);
			margin: 4px auto;
		}

		@media screen and (max-width: 500px) {
			width: 100%;
			margin: 4px auto;
		}
	}

	.site-url {
		width: 100%;
		text-align: center;
		font-size: 1.3rem;
		// height: 80px;
		line-height: 35px;
		padding: 10px;
		overflow: hidden; //超出的文本隐藏
		text-overflow: ellipsis; //溢出用省略号显示
		white-space: nowrap; //溢出不换行
	}

	.site-folder {
		width: 100%;
		// height: 80px;
		font-size: 21px;
		line-height: 35px;
		padding: 10px;
		display: flex;
		overflow: hidden;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}

	.button-folder {
		height: 31px;
		width: 31px;
		margin-left: 5px;
	}
}

// /* width */

// ::-webkit-scrollbar {
//     width: 6px;
//     border-radius: 3px;
// }

/* Track */

::-webkit-scrollbar-track {
	background: #ffffff9c;
	border-radius: 3px;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: rgb(119, 119, 119);
	border-radius: 3px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: rgb(61, 61, 61);
}


.other-setting {
	position: fixed;
	bottom: 20px;
	display: flex;
	width: 50px;
	height: 280px;
	justify-content: flex-end;
	flex-direction: column;
}

.search-bookmark-view {
	width: 200px;
	height: 100px;
	position: fixed;
	top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0px;
}

.search-bookmark-input {
	width: 140px;
	top: 20px;
	right: 20px;
	padding: 4px 5px;
	flex-direction: column;
	outline: none;
	font-size: 14px;
	border: none;
	visibility: hidden;
}

.search-bookmark-view:hover .search-bookmark-input {
	visibility: visible;
}

.search-bookmark-input-show {
	visibility: visible;
}

.other-setting-right {
	right: 0;
}

.other-setting-letf {
	left: 0;
}

.other-setting:hover .other-setting-block {
	visibility: visible;
}

.other-setting:hover .other-setting-block-left {
	visibility: visible;
}

.other-setting-block-left {
	width: 50px;
	height: 50px;
	margin: 4px 0;
	visibility: hidden;
	border-radius: 50% 0;
	text-align: center;
	line-height: 50px;
	background: rgba(90, 115, 255, 0.7);
	cursor: pointer;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding: 10px;
}

.other-setting-block {
	width: 50px;
	height: 50px;
	margin: 4px 0;
	visibility: hidden;
	border-radius: 0 50%;
	text-align: center;
	line-height: 50px;
	background: rgba(90, 115, 255, 0.7);
	user-select: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding: 10px;
}

.other-setting-block:hover {
	background: rgba(90, 115, 255, 1);
}

a {
	outline: none;
	text-decoration: none;
}

@keyframes load-yin {
	0% {}

	50% {}

	100% {
		transform: rotate(360deg);
		transform: rotateZ(360deg);
	}
}

.select-view {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 0px;
	top: 0px;

	&:hover .select-item-view {
		visibility: visible;
	}

	.select-item-view {
		display: flex;
		flex-direction: column;
		z-index: 10;
		top: 40px;
		position: absolute;
		visibility: hidden;
		@include site-block(white);
	}

	.select-view-selected {
		width: 40px;
		height: 40px;
	}
}

.example-menu {
	display: inline-flex;
	flex-direction: column;
	min-width: 180px;
	max-width: 280px;
	background-color: rgb(255, 255, 255);
	padding: 6px 0;
}

.example-menu-item {
	background-color: transparent;
	cursor: pointer;
	border: none;

	user-select: none;
	min-width: 64px;
	line-height: 36px;
	padding: 0 16px;

	display: flex;
	align-items: center;
	flex-direction: row;
	flex: 1;
}

.example-menu-item:hover {
	background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
	background-color: rgb(170, 170, 170);
}